version: '3.8'

services:
  kafka-client:
    image: edenhill/kafkacat:1.6.0
    container_name: kafka-client
    platform: linux/amd64
    depends_on:
      - specmatic-kafka
    entrypoint: ["tail", "-f", "/dev/null"]

  specmatic-contract-test:
    image: specmatic/enterprise
    container_name: specmatic-contract-test
    depends_on:
      - go-app
    volumes:
      - ./specmatic.yaml:/usr/src/app/specmatic.yaml
      - ./build/reports/specmatic:/usr/src/app/build/reports/specmatic
    command: test

  go-app:
    build: .
    container_name: go-app
    ports:
      - "8080:8080"
    depends_on:
      - order-api-mock
      - specmatic-kafka

  order-api-mock:
    image: specmatic/enterprise
    container_name: order-api-mock
    ports:
      - "8090:8090"
    volumes:
      - ./specmatic.yaml:/usr/src/app/specmatic.yaml
      - ./build/reports/specmatic:/usr/src/app/build/reports/specmatic
    command: mock

  specmatic-kafka:
    image: specmatic/enterprise
    container_name: specmatic-kafka
    ports:
      - "9092:9092"
    volumes:
      - ./specmatic.yaml:/usr/src/app/specmatic.yaml
      - ./build/reports/specmatic:/usr/src/app/build/reports/specmatic
