name: BFF (GoLang)  Build & Test (using TestContainers)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest]
      max-parallel: 1
    runs-on: ${{ matrix.os }}

    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: Install dependencies
      run: |
        go mod tidy
        go mod download

    - name: Save Specmatic license
      run: |
        mkdir -p ~/.specmatic
        echo "${{ secrets.SPECMATIC_LICENSE_KEY }}" > ~/.specmatic/specmatic-license.txt

    - name: Run Contract Test
      run: go test contract_test.go -v -count=1

    - name: Run Specmatic Insights Build Reporter
      run: |
        docker run \
          -v ${{ github.workspace }}:/usr/src/app \
          -v ~/.specmatic:/root/.specmatic \
          specmatic/specmatic \
          send-report \
          --metadata build_url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \
          --branch-name ${{ github.ref_name }} \
          --repo-name ${{ github.event.repository.name }} \
          --repo-id ${{ github.repository_id }} \
          --repo-url ${{ github.event.repository.html_url }}

    - name: Upload HTML Test Report
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.os }}-html-report
        path: build/reports/specmatic/html
